*{
    margin: 0;

}
.row{
    display: flex;
}
.col{
    background-color: #679EA1;
    flex: 1;
    padding: 20px;
    margin: 10px;
}
.col-2{
    background-color: #679EA1;
    flex: 2;
    padding: 20px;
    margin: 10px;
}
.col-3{
    background-color: #679EA1;
    flex: 3;
    padding: 20px;
    margin: 10px;
}