*{
    margin: 0;
    padding: 0;
}
.page{
    margin :0 auto;
    width: 800px;
    font-family: cursive;
}
h1{
    background-color: #000000;
    padding: 30px;
    color: white;
}
h2{
    text-align: center;
    padding: 20px;
}
.box{
    display: flex;
    justify-content: space-around;
    /* gap: 100px; */
}
img{
    height: 60px;
    width: 60px;
}
.bolcleft{
    border: 5px solid black;
    height: 140px;
    width: 120px;
    text-align: center;
    padding: 50px;
}
.blocright{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.userlike{
    margin: 0px auto;
    width: 500px;
    height: 150px;
    /* padding: 10px; */
    border: 3px solid black;
    
}
.bloctop{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    font-family: cursive;
}
button{
    background-color:#FFD966 ;
    width: 50px;
    height: 30px;
    box-shadow: 3px 3px black;
    border: solid black;
}
.blocbottom{
    font-family: cursive;
    padding: 10px;
    margin: 0px 50px;
}
.like{
    display: flex;
} 